:root {
  --color-text: #737471;
  --color-text-2: #32383b;
  --color1: #97aab8;
  --color2: #3d505f;
  --color3: #fff;
  --color4: #32383b;
  --color5: #4f5d6a;
  --color6: #97aab8;
  --color7: #3d505f;

  --text-weigth: 500;
  --titulo: 29px;
  --subtitulo: font-size: 20px;
  --text: 17px;
}