:root {
  --color-text: #737471;
  --color-text-2: #32383b;
  --color1: #d9916f;
  --color2: #c96332;
  --color3: #fff;
  --color4: #32383b;
  --color5: #c96332;
  --color6: #d9916f;
  --color7: #c96332;

  --text-weigth: 500;
  --titulo: 29px;
  --subtitulo: font-size: 20px;
  --text: 17px;
}